{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "debug": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7",
            "ie>=11"
          ]
        }
      }
    ]
  ]
}